<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AjaxServletController1</display-name>
    <servlet-name>AjaxServletController1</servlet-name>
    <servlet-class>ajax01.AjaxServletController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletController1</servlet-name>
    <url-pattern>/ajax1.do</url-pattern>
  </servlet-mapping>
  <display-name>ch12_ajax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxServletIdCheck</display-name>
    <servlet-name>AjaxServletIdCheck</servlet-name>
    <servlet-class>ajax01.AjaxServletIdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletIdCheck</servlet-name>
    <url-pattern>/idCheck.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxSerbletController2</display-name>
    <servlet-name>AjaxSerbletController2</servlet-name>
    <servlet-class>ajax01.AjaxSerbletController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxSerbletController2</servlet-name>
    <url-pattern>/ajax2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletController5</display-name>
    <servlet-name>AjaxServletController5</servlet-name>
    <servlet-class>ajax01.AjaxServletController5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletController5</servlet-name>
    <url-pattern>/ajax5.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxSerbletController6</display-name>
    <servlet-name>AjaxSerbletController6</servlet-name>
    <servlet-class>ajax01.AjaxSerbletController6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxSerbletController6</servlet-name>
    <url-pattern>/ajax6.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxSurvletReplyList</display-name>
    <servlet-name>AjaxSurvletReplyList</servlet-name>
    <servlet-class>ajaxReply.AjaxSurvletReplyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxSurvletReplyList</servlet-name>
    <url-pattern>/ajaxReply/rlist.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxSurvlerReplyInsert</display-name>
    <servlet-name>AjaxSurvlerReplyInsert</servlet-name>
    <servlet-class>ajaxReply.AjaxSurvlerReplyInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxSurvlerReplyInsert</servlet-name>
    <url-pattern>/ajaxReply/rinsert.bo</url-pattern>
  </servlet-mapping>
</web-app>