<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BoardMapper">

	<!--  게시글 전체 조회 -->
	<select id="findAll" resultType="com.example.demo.model.Board">
	    SELECT board_no, board_title, board_content, board_writer, count, create_date, status
	    FROM board
	    ORDER BY create_date DESC
	</select>
	
	<!--  게시글 단건 조회 -->
	<select id="findById" parameterType="int" resultType="com.example.demo.model.Board">
	    SELECT board_no, board_title, board_content, board_writer, count, create_date, status
	    FROM board
	    WHERE board_no = #{board_no}
	</select>
	
	<!-- 게시글 삽입  -->
	<insert id="insert" parameterType="com.example.demo.model.Board">
	    INSERT INTO board (board_no, board_title, board_content, board_writer, count, status)
	    VALUES (
	        SEQ_BNO.NEXTVAL,
	        #{boardTitle, jdbcType=VARCHAR}, 
	        #{boardContent, jdbcType=VARCHAR}, 
	        #{boardWriter, jdbcType=VARCHAR}, 
	        0, 
	        'Y'
	    )
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="update" parameterType="com.example.demo.model.Board">
	    UPDATE board
	    SET board_title = #{boardTitle}, 
	        board_content = #{boardContent}, 
	        board_writer = #{boardWriter}
	    WHERE board_no = #{boardNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM board WHERE board_no = #{boardNo}
	</delete>
	
</mapper>